{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block centered_container %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h6>Inserisci la password attuale per ragioni di sicurezza,
                e poi la nuova password due volte, per verificare di averla scritta correttamente.
            </h6>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Cambia password"/>
            </form>
        </div>
    </div>
{% endblock %}
