{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block centered_container %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            {% if validlink %}
                <h4>Inserici e conferma la nuova password</h4>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary" value="Cambio Password"/>
                </form>
            {% else %}
                <h1>Errore.</h1>
                <p>Il link seguito non è più valido!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
