{% load i18n %}
{% load static %}
<footer class="it-footer">
    <div class="it-footer-main">
        <div class="container">
            {% block footer_top_section %}
            <section>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="it-brand-wrapper">
                            <a href="{% block footer_logo_url %}{% url 'index' %}{% endblock footer_logo_url %}">
                                {% block footer_logo %}
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-code-circle"></use>
                                </svg>
                                {% endblock footer_logo %}
                                {% block footer_org_text %}
                                <div class="it-brand-text">
                                    <h2 class="no_toc">
                                        {% block footer_org_name %}
                                        Tiberiu Iordache
                                        {% endblock footer_org_name %}
                                    </h2>
                                    <h3 class="no_toc d-none d-md-block">
                                        {% block footer_org_subname %}
                                        Software Developer
                                        {% endblock footer_org_subname %}
                                    </h3>
                                </div>
                                {% endblock footer_org_text %}
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock footer_top_section %}

            <!-- Footer middle section with menu blocks -->
            {% block footer_menu_section %}
            {% endblock footer_menu_section %}

            <!-- Footer bottom section with contacts -->
            {% block footer_contacts_section %}
                <section class="py-4 border-white border-top">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 pb-2">
                            <h4><a href="#" title="Vai alla pagina: Contatti">Contatti</a></h4>
                            <div class="link-list-wrapper">
                                <ul class="footer-list link-list clearfix">
                                    <li><a class="list-item" target="_blank" href="https://www.business-changers.it" title="Sito web">Sito web</a></li>
                                    <li>tiberiu.iordache@business-changer.it</li>
                                </ul>
                            </div>
                        </div>
{#                        <div class="col-lg-4 col-md-4 pb-2">#}
{#                            <h4><a href="#" title="Vai alla pagina: Lorem Ipsum">Lorem Ipsum</a></h4>#}
{#                        </div>#}
{#                        <div class="col-lg-4 col-md-4 pb-2">#}
{#                            <div class="pb-2">#}
{#                                <h4><a href="#" title="Vai alla pagina: Seguici su">Seguici su</a></h4>#}
{#                                <ul class="list-inline text-left social">#}
{#                                    <li class="list-inline-item">#}
{#                                        <a class="p-2 text-white" href="#" target="_blank">#}
{#                                            <svg class="icon icon-sm icon-white align-top">#}
{#                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-designers-italia"></use>#}
{#                                            </svg><span class="sr-only">Designers Italia</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="list-inline-item">#}
{#                                        <a class="p-2 text-white" href="#" target="_blank">#}
{#                                            <svg class="icon icon-sm icon-white align-top">#}
{#                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-twitter"></use>#}
{#                                            </svg><span class="sr-only">Twitter</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="list-inline-item">#}
{#                                        <a class="p-2 text-white" href="#" target="_blank">#}
{#                                            <svg class="icon icon-sm icon-white align-top">#}
{#                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-medium"></use>#}
{#                                            </svg><span class="sr-only">Medium</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="list-inline-item">#}
{#                                        <a class="p-2 text-white" href="#" target="_blank">#}
{#                                            <svg class="icon icon-sm icon-white align-top">#}
{#                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-behance"></use>#}
{#                                            </svg><span class="sr-only">Behance</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                            <div class="pb-2">#}
{#                                <h4><a href="#" title="Vai alla pagina: Newsletter">Newsletter</a></h4>#}
{#                                <p>Form Newsletter</p>#}
{#                                  <!--<form action="#" method="post">#}
{#                                    <label for="input-newsletter" class="active">Iscriviti per riceverla</label>#}
{#                                    <div class="input-group">#}
{#                                      <div class="input-group-prepend">#}
{#                                        <div class="input-group-text">@</div>#}
{#                                      </div>#}
{#                                      <input type="text" class="form-control" id="input-newsletter" name="input-newsletter" placeholder="Scrivi il tuo indirizzo email" >#}
{#                                      <div class="input-group-append">#}
{#                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>#}
{#                                      </div>#}
{#                                    </div>#}
{#                                    <button class="btn btn-default pull-right" type="submit">Iscriviti</button>#}
{#                                  </form>-->#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </section>
            {% endblock footer_contacts_section %}
        </div>
    </div>

    {% block footer_bottom %}
    <div class="it-footer-small-prints clearfix">
        <div class="container">
            {% block footer_bottom_content %}
            <h3 class="sr-only">Sezione Link Utili</h3>
            <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
                <li class="list-inline-item"><a href="#" title="Note Legali">Media policy</a></li>
                <li class="list-inline-item"><a href="#" title="Note Legali">Note legali</a></li>
                <li class="list-inline-item"><a href="#" title="Privacy-Cookies">Privacy policy</a></li>
                <li class="list-inline-item"><a href="#" title="Mappa del sito">Mappa del sito</a> </li>
            </ul>
            {% endblock footer_bottom_content %}
        </div>
    </div>
    {% endblock footer_bottom %}
</footer>
